/* App.module.css */
.container {
  min-height: 100vh;
  height: 100vh;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  padding: 6px;
  flex-shrink: 0;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.userInfo {
  background-color: var(--tg-theme-secondary-bg-color);
  padding: 6px;
  border-radius: 12px;
  text-align: center;
  max-width: 300px;
  margin: 6px auto 0;
}

.userName {
  color: var(--tg-theme-button-color);
  font-weight: 600;
}

.userBalance {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
}

.main {
  /* flex: 1; */
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.emptyState {
  text-align: center;
  padding: 32px 16px;
  background-color: var(--tg-theme-secondary-bg-color);
  border-radius: 12px;
  max-width: 300px;
  margin: 0 auto;
}

.hint {
  margin-top: 8px;
  font-size: 14px;
  color: var(--tg-theme-hint-color);
}
